body {
            font-family: 'Inter', sans-serif;
            background-color:#7CFC00;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
}

.demon{
    background-color:#FF1493;
    text-align:center;
    color:#FFFFFF;
    font-family:Mickael Rafailyk;
    border-radius:20px;
    box-shadow:0 0 20px 20px #FF69B4;
}

.demon-p{
     background-color:#900020; 
    opacity: 0.3;
    transition: 0.3s;
    text-align:center ;
     box-shadow:0 0 20px 20px #8B0000;
}

.demon-p:hover{
     animation: fadeIn 0.8s forwards ;
    opacity: 1;
}

.demon-m{
    background-color:#900020; 
    opacity: 0.3;
    transition: 0.3s;
    text-align:center ;
     box-shadow:0 0 20px 20px #8B0000;
}

.demon-m:hover{
    animation: fadeIn 0.8s forwards ;
    opacity: 1;
}

h2{
   text-align:center;
   font-family:Mickael Rafailyk;
   border-radius:20px;
   color:#FFFFFF;
}

nav{
    background-color:#FFA07A;
    font-family:Mickael Rafailyk;
    font-size:20px;
    box-shadow:0 0 10px 5px #FF69B4;
    border-radius:20px;
}

.mudzan{
    background-color:#000000 ;
    animation: shake 0.5s infinite alternate;
    border-radius:45px ;
}

@keyframes mudzan {
    0% { transform:translateX(-25px);}
    100% { transform:translateX(25px);}
}
